# C++ objects and libs

*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
ui_*h
moc_*.cpp
qrc_*.cpp
Makefile
*.Debug
*.Release
*-build-*

# CMake
*.cmake
*.user
*_automoc.cpp
*.cbp
CMakeFiles

# Visual Studio

Backup*
UpgradeLog*
_UpgradeReport*
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.pdb

src/app/debug
src/app/release
src/unittest/debug
src/unittest/release
